# Dependencies
node_modules/
*/node_modules/

# AWS
.serverless/
*/.serverless/

# Environment variables
.env
*/.env
.env.local
*/.env.local

# Logs
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# AWS credentials (importante)
.aws/
credentials

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db