:where([class^="ri-"])::before { content: "\f3c2"; }
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9fafb;
}
input:focus {
    outline: none;
}
.hospital-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hospital-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}